/* Variable */
/* Mixin */
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  background: white;
  font-family: sans-serif;
}

/* SECTION HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #218c74;
  height: 120px;
}
.header__heading {
  color: #f1c40f;
  font-size: 3em;
  font-family: "Inter", sans-serif;
}

/* SECTION CONTENANT LES MENUS */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/* BLOC MENU GENERIQUE */
.menu-prev {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 500px;
  width: 350px;
  justify-content: center;
  align-items: center;
  background: white;
  -webkit-box-shadow: 0px 0px 9px 3px #d9d9d9;
  -moz-box-shadow: 0px 0px 9px 3px #d9d9d9;
  box-shadow: 0px 0px 9px 3px #d9d9d9;
}
.menu-prev .menu-prev__icon {
  font-size: 50px;
  justify-content: center;
  margin: 10px;
  background: -webkit-linear-gradient(#000, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev .menu-prev__icon .fa-music {
  font-size: 50px;
  justify-content: center;
  margin: 10px;
  background: -webkit-linear-gradient(#000, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev h1 {
  font-size: 1.8em;
}
.menu-prev p {
  font-size: 3em;
}

/* BLOC MENU 1 */
.menu-prev--menu1 {
  background: #fcd7ce;
  color: #331800;
}
.menu-prev--menu1 h1 {
  font-family: "Oleo Script", cursive;
}
.menu-prev--menu1 p {
  font-family: "Sriracha", cursive;
  text-transform: uppercase;
}

/* BLOC MENU 2 */
.menu-prev--menu2 {
  background: #fff3f9;
}
.menu-prev--menu2 h1 {
  font-family: "Rochester", cursive;
  background: linear-gradient(90deg, #f57700 0%, #b35d01 29%, #5b31bf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu-prev--menu2 p {
  color: #e67e22;
  font-weight: bold;
}

/* BLOC MENU 3 */
.menu-prev--menu3 {
  background: #f0f0f0;
}
.menu-prev--menu3 h1 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(90deg, #000467 0%, #00feff 100%, #5b31bf 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu-prev--menu3 p {
  color: #3498db;
  font-family: "Kalam", cursive;
}

/* BLOC MENU 4 */
.menu-prev--menu4 h1 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(90deg, #004404 0%, #bfffbe 100%, #006f21 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu-prev--menu4 p {
  color: #27ae60;
  font-family: "Kalam", cursive;
}

/* SECTION BOUTON PROCHAINEMENT */
/* BOUTON GENERIQUE */
.btn {
  color: #f1c40f;
  background: #218c74;
  font-size: 1em;
  border-radius: 10px;
  padding: 15px 60px;
  border: transparent;
  font-family: "Roboto", sans-serif;
}

/* BOUTON PROCHAINEMENT */
.btn-workinprogress {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 70px;
}

/* SECTION FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #218c74;
  display: flex;
  align-items: center;
  color: #f1c40f;
  font-size: 1.5em;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .footer__legal {
  margin-left: 20px;
}
.footer .footer__contact {
  margin-right: 20px;
}

.main-container-menu p {
  font-size: 1.2em;
}

.main-container-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.main-container-menu .main-container-menu__headline {
  display: flex;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
}
.main-container-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 50%;
  -webkit-box-shadow: 0px 0px 9px 3px #d9d9d9;
  -moz-box-shadow: 0px 0px 9px 3px #d9d9d9;
  box-shadow: 0px 0px 9px 3px #d9d9d9;
  background: #fcd7ce;
}
.main-container-menu .menu .name-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-container-menu .menu .name-restaurant .name-restaurant__icon--menu1 {
  font-size: 50px;
  justify-content: center;
  margin: 10px;
  background: -webkit-linear-gradient(#000, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  text-align: center;
}
.main-container-menu .menu .name-restaurant h1 {
  font-size: 1em;
  font-family: "Sriracha", cursive;
  color: #331800;
  font-size: 2em;
  text-align: center;
}
.main-container-menu .menu .meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Sriracha", cursive;
  color: #331800;
}
.main-container-menu .menu .meals .meal-separation {
  width: 80%;
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.main-container-menu .menu .meals .meal-separation .meal-separation__line-left {
  flex: 2;
  height: 20px;
  filter: invert(10%) sepia(50%) saturate(2492%) hue-rotate(19deg) brightness(93%) contrast(102%);
}
.main-container-menu .menu .meals .meal-separation .meal-separation__line-right {
  flex: 2;
  height: 20px;
  filter: invert(10%) sepia(50%) saturate(2492%) hue-rotate(19deg) brightness(93%) contrast(102%);
}
.main-container-menu .menu .meals .meal-items {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.main-container-menu .menu .meals .meal-items .meal-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-container-menu .menu .meals .meal-items .meal-item .meal-item__name {
  margin: 5px;
}
.main-container-menu .menu .meals .meal-items .meal-item .meal-item__price {
  font-weight: bold;
}
.main-container-menu .menu .name-restaurant-inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-container-menu .menu .name-restaurant-inline .name-restaurant__icon--menu1 {
  font-size: 50px;
  justify-content: center;
  margin: 10px;
  background: -webkit-linear-gradient(#000, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  text-align: center;
}
.main-container-menu .menu .name-restaurant-inline h1 {
  font-family: "Oleo Script", cursive;
  color: #331800;
  font-size: 2em;
  text-align: center;
}

.main-container-menu p {
  font-family: "Kalam", cursive;
  font-weight: normal;
}

/* COULEUR DE FOND ET TITRES DU MENU */
.main-container-menu .menu {
  background: white;
}
.main-container-menu .menu .name-restaurant h1 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(90deg, #004404 0%, #bfffbe 100%, #006f21 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 4em;
}

/* PARTIES DU MENU GENERIQUE */
.main-container-menu .menu .meals .meal-separation {
  width: 100%;
}

/* COULEURS DES LIGNES DE SEPARATION */
.main-container-menu .menu .meals .meal-separation .meal-separation__line-left {
  filter: invert(51%) sepia(96%) saturate(356%) hue-rotate(93deg) brightness(90%) contrast(89%);
}
.main-container-menu .menu .meals .meal-separation .meal-separation__line-right {
  filter: invert(51%) sepia(96%) saturate(356%) hue-rotate(93deg) brightness(90%) contrast(89%);
}

.main-container-menu .menu .meals .meal-separation .meal-separation__line-right {
  transform: rotate(180deg);
}

/*# sourceMappingURL=menu_4.css.map */
