@import "style.scss";



.main-container-menu{
    p{
        font-size:1.2em;
    }
}


.main-container-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

    .main-container-menu__headline{
        display: flex;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        margin-top:50px;
        margin-bottom:30px;
        justify-content: center;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100%;
        width: 50%;
        @include boxshadow-menu;
        background: rgb(252, 215, 206);


        .name-restaurant{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;


            .name-restaurant__icon--menu1{
                @include logo-restaurant;
                font-size: 4em;
                text-align: center;
            }

            h1{
                font-size: 1em;
                font-family: 'Sriracha', cursive;
                color: #331800; 
                font-size: 2em;
                text-align: center;
            }
        }


        .meals{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top:20px;
            margin-bottom: 20px;
            font-family: 'Sriracha', cursive;
            color: #331800;

            .meal-separation{
                width: 80%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                font-size: 1.4em;
                margin-bottom: 20px;
                justify-content: space-between;
                align-items: center;

                .meal-separation__line{
                    width: 250px;
                    height: 20px;
                    filter: invert(10%) sepia(50%) saturate(2492%) hue-rotate(19deg) brightness(93%) contrast(102%);
                }
            }
            
            .meal-items{
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;

                .meal-item{
                    width: 100%;
                    display: flex;
                    flex-direction: row;    
                    justify-content: space-between;
                    
                    .meal-item__name{
                        margin:5px;
                    }
                    
                    .meal-item__price{
                        font-weight: bold;
                    }
                }
            }
        }

        .name-restaurant-inline{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .name-restaurant__icon--menu1{
                @include logo-restaurant;
                font-size: 2em;
                text-align: center;
            }

            h1{
                font-family: 'Oleo Script', cursive;
                color: #331800; 
                font-size: 2em;
                text-align: center;
            }
        }
    }
}  
