@import "style.scss";



.main-container-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

    .main-container-menu__headline{
        font-size: 1em;
        font-weight: bold;
        margin-top:50px;
        margin-bottom:30px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 80px;
        height: 800px;
        width: 800px;
        @include boxshadow-menu;
        background: rgb(252, 215, 206);

        .menu-prev__icon--menu1{
            @include logo-restaurant;
            font-size: 4em;
        }

        h1{
            font-family: 'Oleo Script', cursive;
            color: #331800; 
            font-size: 2em;
            text-align: center;
        }

        .meals{
            display: flex;
            flex-direction: column;
            margin-top:20px;
            margin-bottom: 20px;

            .meals__meal-separation{
                display: flex;
                flex-direction: row;
                font-family: 'Sriracha', cursive;
                color: #331800;
                justify-content: center;
                font-size: 1.4em;
                margin-bottom: 20px;
                justify-content: space-between;
            }
        }

        .meal-item{
            display: flex;
            flex-direction: row;
            font-family: 'Sriracha', cursive;
            color: #331800;
            justify-content: space-between;


            .meal-item__name{

            }
            .meal-item__price{
                font-weight: bold;
            }
        }

        .name-restaurant{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .menu-prev__icon--menu1{
                font-size:3em;
            }
        }
    }
}  
