@import "menu_1.scss";


.main-container-menu{
    p{
        font-family: 'Kalam', cursive;
        font-weight: normal;
    }
}


/* COULEUR DE FOND ET TITRES DU MENU */

.main-container-menu{
    .menu{
        background: white;

        .name-restaurant{
            h1{
                font-family: 'Kaushan Script', cursive;
                background: linear-gradient(90deg, rgba(0,68,4,1) 0%, rgba(191,255,190,1) 100%, rgba(0,111,33,1) 100%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-size: 4em;
            }
        }
    }
}


/* PARTIES DU MENU GENERIQUE */


.main-container-menu{
    .menu{
        .meals{
            .meal-separation{
                width: 100%;           
            }
        }
    }
}


/* COULEURS DES LIGNES DE SEPARATION */

.main-container-menu{
    .menu{
        .meals{
            .meal-separation{
                .meal-separation__line{
                    filter: invert(51%) sepia(96%) saturate(356%) hue-rotate(93deg) brightness(90%) contrast(89%);
                }
            }
        }
    }
}


