$orange-color: #f1c40f;
$green-color: #218c74;


*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-color;
    height: 150px;

    .header__heading{
        color: $orange-color;
        font-size: 4em;
        font-family: 'Inter', sans-serif;
    }
}


.grid{
    align-items: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .row{
        display: flex;
        flex-direction: row;
    }

    .menu-prev{
        display: flex;
        flex-direction: column;
        margin: 30px;
        height: 500px;
        width: 350px;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
        -moz-box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
        box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
    }

    .menu-prev--1{
        background: rgb(252, 215, 206)
    }

    .menu-prev--2{
        background: rgb(255, 243, 249)
    }

    .menu-prev--3{
        background: rgb(240, 240, 240)
    }


    .menu-prev__heading{
        font-size: 1em;
    }

    .menu-prev__heading--note{
        font-family: 'Oleo Script', cursive;
    }

  
    .menu-prev__heading--chic{
        font-family: 'Oleo Script', cursive;
        background: linear-gradient(90deg, rgba(245,119,0,1) 0%, rgba(179,93,1,1) 29%, rgba(91,49,191,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .menu-prev__byline--orange{
        color:#e67e22;
    }

    .menu-prev__heading--delice{
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(90deg, rgba(0,4,103,1) 0%, rgba(0,254,255,1) 100%, rgba(91,49,191,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .menu-prev__byline--blue{
        color:#3498db;
    }

    .menu-prev__heading--palette{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(90deg, rgba(0,68,4,1) 0%, rgba(191,255,190,1) 100%, rgba(0,111,33,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .menu-prev__byline--green{
        color: #27ae60;
    }

}

.work-in-progress{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .work-in-progress__button{
        font-size: 2em;
        color: $orange-color;
        background: $green-color;
        border-radius: 10px;
        padding: 15px 60px;
        border: solid 1px $green-color;
        font-family:'Roboto', sans-serif;
    }
}

.footer{
    height: 80px;
    background: $green-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $orange-color;
    font-size: 1.8em;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
