
/* Variable */

$color-text-primary: #f1c40f;
$bg-primary: #218c74;


/* Mixin */

@mixin boxshadow-menu () {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
    box-shadow: 0px 0px 9px 3px rgba(217,217,217,1);
}

@mixin logo-restaurant (){
    font-size: 50px;
    justify-content: center;
    margin:10px;
    background : -webkit-linear-gradient(#000,#03a9f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}


/* Reset */

*{
    margin: 0;
    padding: 0;
}

/* BODY */

body{
    background:white;
    font-family: sans-serif;
}


/* SECTION HEADER */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-primary;
    height: 120px;

    &__heading{
        color: $color-text-primary;
        font-size: 3em;
        font-family: 'Inter', sans-serif;
    }
}


/* SECTION CONTENANT LES MENUS */

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* BLOC MENU GENERIQUE */

.menu-prev{
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 500px;
    width: 350px;
    justify-content: center;
    align-items: center;
    background:white;
    @include boxshadow-menu;

    .menu-prev__icon{
        @include logo-restaurant;
        .fa-music{
            @include logo-restaurant;
        }
    }

    h1{
        font-size: 1.8em;
    }
    
    p{
        font-size:3em;
    }
}



/* BLOC MENU 1 */

.menu-prev--menu1{
    background: rgb(252, 215, 206);

    h1{
        font-family: 'Oleo Script', cursive;
        color: #331800;
    }

    p{
        font-family: 'Sriracha', cursive;
        text-transform: uppercase;
        color: #331800;
    }
}



/* BLOC MENU 2 */


.menu-prev--menu2{
    background: rgb(255, 243, 249);

    h1{
        font-family: 'Rochester', cursive;
        background: linear-gradient(90deg, rgba(245,119,0,1) 0%, rgba(179,93,1,1) 29%, rgba(91,49,191,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    p{
        color:#e67e22;
        font-weight: bold;
    }
}


/* BLOC MENU 3 */

.menu-prev--menu3{
    background: rgb(240, 240, 240);

    h1{
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(90deg, rgba(0,4,103,1) 0%, rgba(0,254,255,1) 100%, rgba(91,49,191,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    p{
        color:#3498db;
        font-family: 'Kalam', cursive;
        font-family: 'Sriracha', cursive;
    }
}


/* BLOC MENU 4 */

.menu-prev--menu4{

    h1{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(90deg, rgba(0,68,4,1) 0%, rgba(191,255,190,1) 100%, rgba(0,111,33,1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    p{
        color: #27ae60;
        font-family: 'Kalam', cursive;
    }
}


/* SECTION BOUTON PROCHAINEMENT */

/* BOUTON GENERIQUE */

.btn{
    color: $color-text-primary;
    background: $bg-primary;
    font-size: 1em;
    border-radius: 10px;
    padding: 15px 60px;
    border: transparent;
    font-family:'Roboto', sans-serif;
}

/* BOUTON PROCHAINEMENT */


.btn-workinprogress{
        font-size: 2em;
        margin-top: 50px;
        margin-bottom: 70px;
}



/* SECTION FOOTER */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: $bg-primary;
    display: flex;
    align-items: center;
    color: $color-text-primary;
    font-size: 1.5em;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    .legal{
        margin-left: 20px;
    }

    .contact{
        margin-right: 20px;
    }
}
